on init && property:ro.boot.hwc=GLOBAL
    setprop ro.boot.product.hardware.sku vayu

on property:ro.boot.product.hardware.sku=vayu
    enable vendor.nfc_hal_service

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service
    override
    class hal
    user nfc
    group nfc
    writepid /dev/cpuset/system-background/tasks
    disabled
